@model List<GymManager.Core.Membership.Types>

@{
}


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Cost</th>
      <th scope="col">Created On</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var types in Model)
        {
            
            <tr>
              <th scope="row">@types.Name</th>
              <td>@types.Cost</td>
              <td>@types.CreatedOn</td>
              <td>@types.Duration</td>
            </tr>

        }


  </tbody>
</table>