@*
   
*@
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}



        <div class="container">
            <h1 class="mt-5">Welcome!</h1>

               
                  <div>
                    <label >Please Insert Your ID</label>
                   
                    <input type="text" id="examples">

                    <label class="form-text">This field is required.</label>

                   </div>
                    

                   <div >

                 <button style="display: block; margin: 0 auto;" type="button" class="btn btn-primary" data-toggle="modal" id="example" >
                    Submit
                 </button>

                   </div>

            
        </div>
   
    <script src="~/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vvv.js"></script>
    <script src="~/moment.js"></script>

