@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section HeaderRight {
    @await Html.PartialAsync("~/Views/Shared/_UserPartial.cshtml")

}

    <!-- Begin page content -->
  
        <div class="container">
            <h1>Welcome to GymManager</h1>

        
        </div>
    

