@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
    <head>
        <title>JavaScript Datatypes</title>

        <style>
            button{
                    padding:10px;
            
            }

            .redButton {
                        background: #FD8473;   
            }

            .greenButton {
                        background: #ACEACC;   
            }

          
            


        </style>

    </head>

    <body>

        <button id= "button1" name="test">Click Me uwu!</button>
        <button class= "btn greenButton" name="test2">Click Me uwu!</button>
        <button name= "test3">Click Me uwu!</button>
        <button class= "btn greenButton" name="test4">Click Me uwu!</button>
        <button name= "test5">Click Me uwu!</button>
        <button class= "btn greenButton" name="test6">Click Me uwu!</button>

        <table id= "simpleTable">
            <thead>
                <tr>
                    <td>
                        Button Name
                    </td>
                    <td>
                        Clicked On
                    </td>
                </tr>
                
            </thead>


        </table>




         <script src="~/dataTypes.js"></script>
    </body>
</html>