@model GymManager.Core.Membership.Types

@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{  
  <style>
  
    .container h2 {
            text-align:center;
            font-family: 'Segoe Script';
            }
  
    .container div label {
            display: flex;
            justify-content:left;
            font-family:Calibri;
            font-size:18px;
        }
  </style>
 
   <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
   <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet"/>
   <link href="~/lib/jqueryui/jquery-ui.structure.min.css"  rel="stylesheet" />
   <link href="~/lib/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />
}

@section Scripts{

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>


    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/Views/Membership/Create.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

  
    
}

    


<div class="container">
    <h2 class="mt-3">Edit Membership</h2>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Cost" class="form-label">Cost</label>
            <input type="number" class="form-control" asp-for="Cost" step="0.001"/>
            <span asp-validation-for="Cost" class="text-danger"></span>

        </div>

         <div class="mb-3">
            <label asp-for="CreatedOn" class="form-label">Created On</label>
            <input class="form-control"  asp-for="CreatedOn" type="datetime" placeholder="Datetime currency" aria-label="Disabled input example" disabled>
            

        </div>
        <div class="mb-3">
            <label asp-for="Duration" class="form-label">Duration</label>
            <select class="form-control" asp-for="Duration">
                <option value="1">1 Month</option>
                <option value="2">2 Months</option>
                <option value="3">3 Months</option>
                <option value="4">4 Months</option>
                <option value="5">5 Months</option>
                <option value="6">6 Months</option>
                <option value="7">7 Months</option>
                <option value="8">8 Months</option>
                <option value="9">9 Months</option>
                <option value="10">10 Months</option>
                <option value="11">11 Months</option>
                <option value="12">12 Months</option>

            </select>
            <span asp-validation-for="Duration" class="text-danger"></span>
            

        </div>

        <button type="submit" class="btn btn-primary mb-3">Submit</button>
         <a asp-action="Exit" class="btn btn btn-outline-warning float-sm-start">Cancel</a>

    </form>
   
</div>
